@using Shopee.Service.DTOs.Carts;
@using Shopee.Service.DTOs.OrderItems;
@{

}
@model Tuple<CartViewDto, decimal>

<div class="container container-fluid d-flex  flex-wrap">
    @foreach (var product in Model.Item1.Items)
    {
        <div class="card" style="width: 18rem; margin: 20px 65px; padding:10px ; border-radius:20px; border: 1px solid #776BCC;">
            <img src="@product.Product.PhotoUrl" style="border-radius:20px;" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-text">@product.Product.Name</p>
                    <p class="card-text">@product.Product.CategoryName</p>
                </div>
                <p class="card-text"><span style="font-weight:bold">Price:</span> @product.Product.Price</p>
                <p class="card-text"><span style="font-weight:bold">Count:</span> @product.Count</p>
                <p class="card-text"><span style="font-weight:bold">Description:</span> @product.Product.Description</p>
            </div>
            <a class="nav-link btn" style="background-color: #776BCC; border-radius:20px; color: #fff;" href="@Url.Action("AddToCard","User", new {Id = product.Id})">Remove</a>
        </div>
    }
</div>
<div class="d-flex justify-content-between">
    <h1 class="text-center">Total price: @Model.Item2.ToString()</h1>
    <a class="nav-link btn" style="background-color: #776BCC; border-radius:20px; color: #fff;" href="@Url.Action("OrderCart","User")">Order</a>
</div>