@{
    Layout = "adminlayout";
}

@model List<ProductViewDto>
<h1 class="text-center">Products</h1>

<a style="width:100px; margin-left:600px; border: 1px solid #776BCC; border-radius: 5px; background-color: transparent; " class="text-center nav-link text-ligth" asp-area="" asp-controller="User" asp-action="Products">Back</a>

<div class="container container-fluid d-flex  flex-wrap">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem; margin: 20px 65px; padding:10px ; border-radius:20px; border: 1px solid #776BCC;">
            <img src="@product.PhotoUrl" style="border-radius:20px;" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-text">@product.Name</p>
                    <p class="card-text">@product.CategoryName</p>
                </div>
                <p class="card-text"><span style="font-weight:bold">Price:</span> @product.Price</p>
                <p class="card-text"><span style="font-weight:bold">Count:</span> @product.Count</p>
                <p class="card-text"><span style="font-weight:bold">Description:</span> @product.Description</p>
            </div>
            <a class="nav-link btn" style="background-color: #776BCC; border-radius:20px; color: #fff;" href="@Url.Action("UpdateProduct","Admin", new {Id = product.Id})">Add to cart</a>
        </div>
    }
</div>